
*.DS_Store

RNAseq_copy/.ipynb_checkpoints/RNAseqplot_KvsTest-checkpoint.ipynb

*\data

BioWork alias

**/ipynb_checkpoints
*/.ipynb_checkpoints/*.ipynb
CaImaging/.ipynb_checkpoints/Thoughts-checkpoint.md
CaImaging/.ipynb_checkpoints/tiffStacks-checkpoint.py
Testing/.ipynb_checkpoints/svgfilename-checkpoint.svg
Testing/.ipynb_checkpoints/svgRadarPlotOpacityControlTest-checkpoint.html
Testing/.ipynb_checkpoints/test-svgwrite copy-checkpoint.svg
Testing/.ipynb_checkpoints/test-svgwrite-checkpoint.svg
Testing/.ipynb_checkpoints/test-svgwrite0-checkpoint.svg
Testing/.ipynb_checkpoints/test-svgwrite1-checkpoint.svg
RNAseq/.ipynb_checkpoints/plot-checkpoint.svg
RNAseq/.ipynb_checkpoints/test-checkpoint.svg
.Rproj.user
