
*.DS_Store

RNAseq_copy/.ipynb_checkpoints/RNAseqplot_KvsTest-checkpoint.ipynb

*\data

BioWork alias

**/ipynb_checkpoints
*/.ipynb_checkpoints/*.ipynb
CaImaging/.ipynb_checkpoints/Thoughts-checkpoint.md
CaImaging/.ipynb_checkpoints/tiffStacks-checkpoint.py
Testing/.ipynb_checkpoints/svgfilename-checkpoint.svg
Testing/.ipynb_checkpoints/svgRadarPlotOpacityControlTest-checkpoint.html
Testing/.ipynb_checkpoints/test-svgwrite copy-checkpoint.svg
Testing/.ipynb_checkpoints/test-svgwrite-checkpoint.svg
Testing/.ipynb_checkpoints/test-svgwrite0-checkpoint.svg
Testing/.ipynb_checkpoints/test-svgwrite1-checkpoint.svg
RNAseq/.ipynb_checkpoints/plot-checkpoint.svg
RNAseq/.ipynb_checkpoints/test-checkpoint.svg
.Rproj.user
CaImaging/*.notebookCheckpoints/SAC_analysisPipeline01-checkpoint.ipynb
CaImaging/*.notebookCheckpoints/Tester-checkpoint.ipynb
CaImaging/*.notebookCheckpoints/tiffStacks-checkpoint.py
fatools-master/*.notebookCheckpoints/FragmanTest-checkpoint.ipynb
fatools-master/*.notebookCheckpoints/uMg_getFrameTimes-checkpoint.ipynb
fatools-master/*.notebookCheckpoints/Untitled-checkpoint.ipynb
OKR/*.notebookCheckpoints/tiffStacks_uEye-checkpoint.py
RNAseq/*.notebookCheckpoints/DESeq2-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/DESeq2_round2-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/filenamestocommand-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/fx_RNAseq-checkpoint.py
RNAseq/*.notebookCheckpoints/getGeneLengths-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/gtfRename_ensID2GeneName-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/sqOneGeneAtATime-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/sqRNAseqplot_Volcano-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/Test_panoView-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/zfExtractFPKMfromStringTieGTFs-checkpoint.ipynb
RNAseq/*.notebookCheckpoints/zfRNAseqPlotter-checkpoint.ipynb
Testing/*.notebookCheckpoints/pyDates-checkpoint.ipynb
Testing/*.notebookCheckpoints/using_ffmpegtopngs-checkpoint.txt
Zebrafish/*.notebookCheckpoints/FragAnalysis_tsvColumns-checkpoint.ipynb
Zebrafish/*.notebookCheckpoints/PCRsetup-checkpoint.ipynb
*.Rhistory
*-checkpoint.py
*-checkpoint.md
*/__pycache__/*
